<p>Welcome to Barangay Bolobolo Residents Portal!</p>

<p>This app allows you to maintain a record of your local residents conveniently and securely.</p>

<h2>Getting Started</h2>
<p>To add new records, go to <b>Register a Resident</b> on the left-hand side of this page. The page will
  enable you to save a resident's information by filling in a simple form and clicking submit. Please ensure
  that you receive a 'Success!' message to confirm that your record has been saved to the database. If it fails,
  we suggest to try the submission again, or to check your internet connection. A poor connection might
  prevent the form to be fully saved.</p>

<h2>Searching</h2>
<p>To search through your records, go to 'Dashboard' on the left-hand side of this page. The page contains
  a search box that requires you to put the person's last name, first name and date of birth in order to search
  for more of their details. IF you want to see <b>all</b> the members of a household, search via the household
  option by selecting the checkbox before the <b>Search</b> button.
</p>

<h2>Viewing and Editing Records</h2>
<p>To view or edit a resident's record, search for their details on the <b>Dashboard</b> and select the
  <b>View/Edit</b> link under the search results.</p>

<h2>Suggestions</h2>
<p>This web application is best viewed on a laptop or desktop using Google Chrome v84.0+.</p>

<h2>Important Information</h2>
<p>This application does not display any resident's data without a request from a valid user. Measures are put in place
  to ensure that the records are protected. This also does not track your personal activity, however if a record is added or
  modified, the email of the logged in user and the date/time of when the action took place is stored to replace a physical signature.</p>