
<div class="login-wrap">
  <div class="login-container">
    <h2>Barangay Login</h2>
    <div class="input-wrap">
      <input type="text" id="email" placeholder="Email" />
    </div>
    <div class="input-wrap">
      <input type="password" id="password" placeholder="Password" />
    </div>
    <input type="hidden" id="_csrf" value="{{ csrfToken }}">
    <button id="sign-in">Sign In</button>
  </div>
</div>
